.lw { font-size: 30px; 
    text-align: center; 
    color: rgb(15, 142, 142); }
.ln {text-indent: 10px; 
    font-style: italic; }
.lm {width: 200px ;

    color: rgb(43, 16, 242); }
.la {text-align: right ; 
    font-size: 13px ;}
